/* Copyright 2011-2013 elementary LLC.
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/**************
 * GNOME Crap *
 *************/

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    -EogScrollView-shadow-type: none;
}

/**********
 * Birdie *
 *********/

BirdieWidgetsTweetList * {
    background-image: none;
    background-color: transparent;
}

/********
 * Gala *
 *******/

.gala-workspaces-background {
    border-top: 1px solid alpha (#fff, 0.15);
    background-color: #2d2d2d;
    
    background-image: none;
}

.gala-workspace-selected {

    border: 1px solid alpha (#000, 0.15);
    border-radius: 4px;
    
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
            inset 0 1px 0 0 alpha (#fff, 0.45),
            inset 0 -1px 0 0 alpha (#fff, 0.15),
            0 1px 0 1px alpha (#000, 0.15);
            
    background-image: linear-gradient(to bottom,
                                  shade (@selected_bg_color, 1.12),
                                  shade (@selected_bg_color, 1.12)
                                  );
}

/*********
 * Noise *
 ********/

.album-list-view,
.album-list-view GtkLabel,
.album-list-view:backdrop,
.album-list-view GtkLabel:backdrop,
.album-list-view GraniteWidgetsRating {
    background-color: #262626;
    color: @theme_text_color;

    border-radius: 0;
    border-color: #000;
}

.album-list-view GtkTreeView,
.album-list-view GtkTreeView:backdrop {
    background-color: #262626;
    background-image: none;
     color: @theme_text_color;
    -GtkTreeView-vertical-separator: 3;
    -GtkTreeView-grid-line-width: 0;
}

.album-list-view GtkTreeView row:nth-child(even),
.album-list-view GtkTreeView row:nth-child(even):backdrop {
    background-image: none;
    background-color: #313131;
    border: 1px solid #373737;
}


.album-list-view GtkTreeView row:nth-child(odd),
.album-list-view GtkTreeView row:nth-child(odd):backdrop {
    background-image: none;
    background-color: #262626;
    border-width: 0px;
    border-style: none;
}

.album-list-view GtkTreeView row:selected {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/**********
 * Notify *
 *********/

.notify {
    /*-notify-shadow: 0px 2px 18px alpha (#000, 0.60);*/

    border-radius: 5px;
    border: 1px solid alpha (#000, 0.30);

    background-color: alpha (#f8f8f8, 0.95);
}

.notify .low {
}

.notify .critical {
}

/*********
 * Panel *
 
 ********/



.panel  {
    background-color: @transparent;

    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 2px alpha (#000, 0.6);
    icon-shadow: 0 1px 2px alpha (#000, 0.6);
}

.panel-shadow {
    background-image: none;
    background-color: transparent;
}

.panel-app-button {
    -GtkMenuItem-horizontal-padding: 6px;
}

.composited-indicator {
    background-color: transparent;
    color: #fff;
    padding: 0 2px;
}
.composited-indicator:active{
    border-style: none;
    background-image: @transparent;
    box-shadow: none;
}

.composited-indicator.menuitem:active,
.composited-indicator.menuitem:prelight {
    border-style: none;
    background-image: @transparent;
    box-shadow: none;
}

/************
 * Terminal *
 ***********/

TerminalScreen {
    -TerminalScreen-background-darkness: 0.85;

    background-color: #000;

    color: #fff;
}

/*********
 * Tweet *
 ********/

.tweet {
    padding: 0;
    box-shadow: none;
}
